<html>
<body>
<form action="/create_list" method="post">

  <label>1. Character Name:</label> <input type="text" name="char[name]" id="char_1_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_1_origin">
  <label>2. Character Name:</label> <input type="text" name="char[name]"  id="char_2_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_2_origin">
  <label>3. Character Name:</label> <input type="text" name="char[name]" id="char_3_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_3_origin">
  <label>4. Character Name:</label> <input type="text" name="char[name]" id="char_4_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_4_origin">
  <label>5. Character Name:</label> <input type="text" name="char[name]" id="char_5_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_5_origin">
  <label>6. Character Name:</label> <input type="text" name="char[name]" id="char_6_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_6_origin">
  <label>7. Character Name:</label> <input type="text" name="char[name]" id="char_7_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_7_origin">
  <label>8. Character Name:</label> <input type="text" name="char[name]" id="char_8_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_8_origin">
  <label>9. Character Name:</label> <input type="text" name="char[name]" id="char_9_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_9_origin">
  <label>10. Character Name:</label> <input type="text" name="char[name]" id="char_10_name">
  <label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_10_origin">

  <input type="submit">
</form>

</body>

</html>
