<html>
<body>
<form action="/create_list" method="post">
<ol>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_1_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_1_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]"  id="char_2_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_2_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_3_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_3_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_4_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_4_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_5_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_5_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_6_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_6_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_7_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_7_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_8_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_8_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_9_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_9_origin"></li>
  <li><label> Character Name:</label> <input type="text" name="char[name]" id="char_10_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="char[origin]" id="char_10_origin"></li>
</ol>
  <input type="submit">
</form>

</body>

</html>
