<h1>Delete a Character</h1>

<form method="post" action="/lists/delete_list">
  <input type="hidden" name="_method" value="delete" />

  <label>Choose an existing character:</label>

  <br>

  <%@char.each do |char|%>
    <input type="checkbox" name="char[name]" id="<%=char.id%>" value="<%=char.id%>"><%=char.name%></input>
  <%end%>

  <br>

 <input type="button" value="Delete">
</form>
