<h1>Update Character</h1>
<form action="/chars/<%= @char.id %>" method="POST">
   <input type="hidden" name="_method" value="patch">
  <ul>
    <li><label> Character Name:</label> <input type="text" name="name" id="char_name"></li>
    <li><label>Fictional Work Of Origin:</label> <input type="text" name="origin" id="char_origin"></li>
  </ul>

  <input type="submit" value="Update Character">
  <a href='/users/list'> <input type="button" value='Back'></a>
</form>
