<html>
  <body>
    <form>
      <h1> Your list: </h1>
      <p> -------------------------- </p>
      <% @char.each do |char| %>
      <ol>
        <li>name: <%=char.name%>, origin: <%=char.origin%> <a href='/chars/<%= char.id %>/edit_char'> <input type="button" value="Edit"> </a>
        <a href='/chars/<%= char.id %>/delete_char'> <input type="button" value="Delete"> </a>
        </li>
      </ol>
      <% end %>
    <p> --------------------------- </p>

      <h1> Don't have a list yet? <a href="create_list"> Make one! </a> </h1>
      <h4> <a href="/logout"> Log Out </a> </h4>
    </form>
  </body>

</html>
