<!DOCTYPE html>
<html>
  <div class="welcome">
    <h1> Fictional Favorites: Record Your Favorite Fictional Characters </h1>
    <p>----------------------------------------------------------------</p>
    <h2> Welcome! Please either sign up or log in to get started. </h2>

      <a href="/signup">Sign up</a>

      <br/>

      <a href="/login">Sign-in</a>
  </div>
</html>
