<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Fictional Favorites</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <div class="welcome">
    <h1> Fictional Favorites: Record Your Favorite Fictional Characters </h1>
    <h2> Welcome! Please either sign up or log in to get started. </h2>
      <a href="/signup">Sign up</a>

      <br/>

      <a href="/login">Sign-in</a>
  </div>
</html>
