<html>
<body>
<form action="/create_list" method="post">
  <h1>Create your list!</h1>
  <h2>Each character you create gets saved. Once you have your list, click done to see your favorites!</h2>
<ul>
  <li><label> Character Name:</label> <input type="text" name="name" id="char_name"></li>
  <li><label>Fictional Work Of Origin:</label> <input type="text" name="origin" id="char_origin"></li>
</ul>
  <input type="submit">
</form>

<a href='/users/list'> <input type="button" value='Done'></a>
</body>

</html>
