<h1>Edit a Character</h1>

<form>

  <label>Choose an existing character:</label>

  <br>

  <%@char.each do |char|%>
  <ol>
    <li><%=char.name%> <a href='/chars/edit_char'> <input type="button" value="Edit"> </a></li>
  </ol>
  <%end%>

</form>
